@model CuckooStore.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ImagePath = "~/wwwroot/ImageUser/" + Model.Image;
}

<center><h2>Sửa Thông Tin Tài Khoản</h2></center>
<hr />
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:flex; justify-content:center; align-items:center">
        <div class="form-group col-md-3">
            <span style="color:black; font-size:20px">Ảnh đại diện</span>
            <div>
                <img id="output" class="img-rounded" width="250" height="200" alt="Ảnh" src="@Url.Content(ImagePath)" style="padding-bottom:10px; padding-top:10px"/>
                <p><label for="ufile" style="cursor:pointer;">Chọn file ảnh</label></p>
                <input name="ImageFile" id="ufile" type="file" style="display:none;" onchange="loadFile(event)" />
                @Html.HiddenFor(model => model.Image)
            </div>
        </div>
        @Html.AntiForgeryToken()
        <div class="col-md-4" style="display:flex; justify-content:center; align-items:center">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserID)



                <div class="form-group">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5", type = "Password" } })
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5", style = "width=200px" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn flex-c-m stext-104 cl2 size-101 bg1 bor1 hov-btn1 p-lr-20 trans-04" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>