@model IEnumerable<CuckooStore.Models.Product>
@{
    ViewBag.Title = "TopProduct";
}
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center" style="font-family:Arial">
                <b>Top 10 Sản Phẩm Đắt Nhất</b>
            </h3>
        </div>
        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var item in Model)
                {
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                @{
                                    string ImagePath = "~/wwwroot/Image/" + item.Image;
                                }
                                <img src="@Url.Content(ImagePath)" alt="IMG-PRODUCT" height="280" width="260">
                                <a href="@Url.Action("Details","Home", new { id = item.ProductID})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Xem Thêm
                                </a>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a class="block2-txt-child1 flex-col-l" style="margin-top:5px; color:black">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </a>
                                    <div>
                                        <span class="cl3" style="color:red; font-size:17px">
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </span>
                                        <span class="cl3" style="font-size:13px">
                                            <strike>@Html.DisplayFor(modelItem => item.Price)</strike>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
