@model IEnumerable<CuckooStore.Presentation.Areas.Admin.Controllers.StatisticalController.ListPro>
@{
    ViewBag.Title = "StatiscalFollowOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ cột</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr class="d-flex">
        <td class="col-md-4"><strong>Tên</strong></td>
        <td class="col-md-3"><strong>Ảnh</strong></td>
        <td class="col-md-2"><strong>Số lượng đã bán</strong></td>
        <td class="col-md-3"><strong>Giá</strong></td>
    </tr>
    @foreach (var item in Model)
    {
        string ImagePath = "~/wwwroot/Image/" + item.Image;
        <tr class="d-flex">
            <td class="col-md-4">@item.Name</td>
            <td class="col-md-3">
                <img width="50" src="@Url.Content(ImagePath)" alt="anh" class="img-thumbnail" />
            </td>
            <td class="col-md-2">@item.TotalQty</td>
            <td class="col-md-3">@item.TotalMoney.ToString("0,0 đ")</td>
        </tr>
    }
</table>

<script src="~/Areas/Admin/wwwroot/vendor/chart.js/Chart.js"></script>
<script src="~/Areas/Admin/wwwroot/vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript">

     var images = @Html.Raw(Json.Encode(ViewBag.IMAGE));
     var qty = @Html.Raw(Json.Encode(ViewBag.QTY));

     var barchar = document.getElementById("myBarChart");

     var myBarChart = new Chart(barchar, {

         type: 'bar',
         data: {
             labels: images,
             datasets: [{
                 label: "Số lượng",
                 data: qty,
                 backgroundColor: "#4e73df",
                 hoverBackgroundColor: "#2e59d9",
                 borderColor: "#4e73df",
             }]
         },
         options: {
             maintainAspectRatio: false,
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero:true,
                         maxTicksLimit: 10
                     }
                 }]
             }
         },

     });
</script>