@model CuckooStore.Models.Cart
<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>
    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Giỏ Hàng
            </span>
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        
        <div class="header-cart-content flex-w js-pscroll">
            @if (Model != null)
            {
                <ul class="header-cart-wrapitem w-full">

                    @foreach (var item in Model.Items)
                    {
                        decimal total = Convert.ToDecimal(item._product.UnitPrice * item._quatity);
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <a href="/Cart/RemoveCart/@item._product.ProductID">
                                <div class="header-cart-item-img">
                                    <img src="@Url.Content("~/wwwroot/Image/"+item._product.Image)" alt="IMG">
                                </div>
                            </a>
                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    @Html.DisplayFor(x => item._product.ProductName)
                                </a>
                                <span class="header-cart-item-info">
                                    @item._quatity x @item._product.UnitPrice
                                </span>
                            </div>
                        </li>
                    }
                </ul>
                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: @Model.Total_Money().ToString("0,0 VND")
                    </div>
                    <div class="header-cart-buttons flex-w w-full">
                        <a href="#" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Đặt Hàng
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: 0 VND
                    </div>
                    <div class="header-cart-buttons flex-w w-full">
                        <a href="#" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Đặt Hàng
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
